* {
  margin: 0;
  padding: 0;
  font-family:monospace;
}

body {
  font-size: 18px;
}

.main {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

/***** Archivo Header.js *****/
.header {
  margin: 1%;
  padding: 1%;
  background-color: rgb(215, 250, 235);
}

.header-title{
  padding: 1%;
  font-size: 1.5em;
}

.nav-main{
  display: flex;
  justify-content: space-around;
  
}

.nav-main a{
  text-decoration: none;  
  color: rgb(202, 135, 135);
  font-size: 1.2em;
}

.nav-main a:visited{
  color: rgb(202, 135, 135);
}
  

/***** Archivo ViewLibro.js *****/
.main-table{
  margin: 1%;
  padding: 1%;
  background-color: rgb(215, 229, 250);
}

.table{
  padding: 1%;
  width: 100%;
}

.table td {
  width: 25%;
  text-align: center;
}